.about-me {
    background-color: #B8BC3A;
    font-family: "Lustria", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #0F5A39;
}

.about {
  
    background-color: #B8BC3A;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;
    color: #0F5A39;
}

.header {
    font-size: 45px;
    text-align: center;
    padding-top: 3%;
    color: #0F5A39;
}

#qualifications {
    text-align: center;
    color: #0F5A39;
}

.list {
  list-style-position: inside; /* keep bullet points inside the box */
  text-align: center;          /* center the text and bullets */
  padding: 0;
  margin: 0 auto;              /* center the <ul> itself */
  width: fit-content;     

}

.content {
    display: flex;
    align-items: center;
}
.about-right {
    display: flex
;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    

}

.about-left {
    width: 60%;
    margin-bottom: 13%;
    font-weight: 400;
    font-size: 25pxs;
}
#list-end {
    text-align: center;
}

#tommy {
    padding-top: 4%;
    width: 50%;
    text-align: center;
}

@media (max-width: 767px) {
    .content {
        flex-direction: column;
    }

    .about-left, .about-right {
        width: 90%;
        font-size: 15px !important;
        margin-bottom: 1% !important;
    }

    .header {
        padding-top: 10% !important;
        font-size: 35px !important;
    }

    img {
               width: 70% !important;
    }

    .list {
        font-weight: 400 !important;
    }

    #qualifications {
        font-size: 35px !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .about-right {
    width: 70% !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .about-right {
    width: 70% !important;
  }
  .about-left {
    margin-left: 30px;
  }
}


