.areas {
    background-color: #007A33;
    
     font-size: 20px;
  font-family: "Lustria", serif;
  margin-top: 50px;
  margin-bottom: 5px;
  color: white;

}

.areas {
    text-align: center;
}


.list {
    margin-bottom: 40px;
    font-weight: 600;
    
}

h2 {
    text-align: center;
    font-size: 30px;
    color: rgba(237, 237, 73, 0.907);
}

h1 {
    color: rgba(237, 237, 73, 0.907);
}

#aby {
    padding-top: 2%;
    width: 250px;
    padding-bottom: 2%;
}

#list2 {
    font-weight: 400;
}