.contact {
    color:#B8BC3A;
    background-color: #0F5A39;
    text-align: center;
    font-family: "Lustria", serif;
    font-style: normal;
    padding-top: 3%;

}

.contact-p {
    font-size: 20px;
}

.contact-p-2 {
    font-size: 20px;
    padding-bottom: 10%;
}

.contact-list {
      list-style-position: inside; /* keep bullet points inside the box */
  text-align: center;          /* center the text and bullets */
  padding: 0;
  margin: 0 auto;              /* center the <ul> itself */
  width: fit-content;  
  font-size: 20px;
}

.email {
    color: white;
    font-weight: 600;
}

@media (max-width: 767px) {
    .contact {
        padding: 0 5%;
        font-size: 15px !important;
    }

    .contact-p, .contact-list, .contact-p-2 {
        font-size: 15px !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .contact-p-2 {
    margin-left: 20px;
    margin-right: 20px;
  }
}

