.fees {
    background-color:#B8BC3A;
    padding-bottom: 5%;
}


.fees-h1 {
    color: #0F5A39;
    text-align: center;
    font-family: "Lustria", serif;
    font-style: normal;
    padding-top: 3%;
    font-size: 40px;

}

.fees-h2 {
    color: #0F5A39;
    text-align: center;
    font-family: "Lustria", serif;
    font-style: normal;
    font-size: 30px !important;
}

.convo {
    color: #0F5A39;
    text-align: center;
    font-family: "Lustria", serif;
    font-style: normal;
    font-size: 20px;
    
}

.sessions {
    list-style-position: inside; /* keep bullet points inside the box */
  text-align: center;          /* center the text and bullets */
  padding: 20px 0px 0px 0px;
  margin: 0 auto;              /* center the <ul> itself */
  width: fit-content;   
  color: #0F5A39;
    text-align: center;
    font-family: "Lustria", serif;
    font-style: normal; 
    font-size: 25px;
}

.prices {
    display: flex;
}

@media (max-width: 767px) {
    .fees {
        padding: 0 5%;
    }

    .fees p {
        font-size: 15px !important;
    }
    .fees-h1 {
        font-size: 35px !important;
        padding-top: 10% !important;
    }

    .fees-h2 {
        font-size: 30px !important;
        margin-top: 0px !important;
    }

    .sessions {
        font-size: 15px !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .convo, .area-2 {
    margin-left: 20px;
    margin-right: 20px;
  }
}