#darren {
    width: 225px;
    height: auto;

    border-radius: 30px;
}

@media (max-width: 767px) {
  #darren {
    width: 100px !important;
    margin-right: 20px;
    margin-top: 10px;
  }

  .photo {
    padding: 20px 10px 10px 20px !important;
        width: 40% !important;
  }

  .photo p{
    font-size: 15px !important;
  }

  #tag {
    font-size: 10px !important;
    width: 70%;
  }
  .para {
    padding: 0 10px 0 0 !important;
    font-size: 15px !important;
    margin-right: 15px;
  }
  
  .para h1 {
    font-size: 35px !important;
    margin-bottom: 0px !important;
  }
  #touch {
    font-size: 15px !important;
  }
  
}
.intro {
    display: flex;
    background-color:  #0F5A39;
    margin-bottom: 0px;
}   

.photo {
    padding: 75px 10px 10px 10%;
}
.photo p {
    font-size: 20px;
  font-family: "Lustria", serif;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #B8BC3A;
  font-weight: 600;
}

#tag {
    font-size: 15px;
    color: white;
    font-weight: 400;
}

#touch {
       font-size: 25px;
    font-weight: 600;
    color: #B8BC3A;
    
}
.para {
    padding-top: 3%;   
    padding-left: 5%;  
    font-size: 20px;
  font-family: "Lustria", serif;
color: white;
}

.para h1 {
    font-size: 40px;
  font-family: "Lustria", serif;
color: #B8BC3A;
}


@media (min-width: 768px) and (max-width: 1024px) {
  .intro {
    margin-right: 40px !important;
  }
}

#touch {
  cursor: pointer;
  font-style: italic;
  font-weight: 500;
  transition: color 0.25s ease, opacity 0.25s ease;
}

#touch:hover {    
  font-weight: 600;
  color: #e2e554;
}