 body {
  background-color: #0F5A39;
}
.home {
   background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    background-image: url('../images/unnamed.jpg');
  background-size: cover;      /* makes it fill the container */
  background-position: center; /* centers the image */
  background-repeat: no-repeat;
  width: 100%;
  height: 13vh;   
  padding-top: 20%; 
    filter:contrast(100%);
   
  
}
.hero {
     font-family: "Lustria", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 75px;
    font-weight: 600;
    color: #B8BC3A;
    position: relative; 
    top: -260px;
    display: flex;
    justify-content: space-evenly;
    opacity: 0;
  animation: fadeIn 2s ease-out forwards;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.main {
  background-color: #0F5A39;
}
footer {
  text-align: center;
}
footer a {
  font-size: 20;
  text-align: center;
  padding-bottom: 10px;
  color: wheat;
  font-weight: 600;
  font-family: monospace;
 
}