 body {
  background-color: #0F5A39;
}
.home {
  position: relative;
  height: 13vh;
  width: 100%;
  padding-top: 20%;
  overflow: hidden;
}

.home::before {
  content: "";
  position: absolute;
  inset: 0;
  background: 
    linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent),
    url('../images/abi.jpg');
  background-size: cover ;
  background-position: center;
  background-repeat: no-repeat;
  filter: contrast(80%) brightness(90%) saturate(250%) !important ;
  z-index: -1;
}
.hero {
     font-family: "Lustria", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 75px;
    font-weight: 600;
    color: #B8BC3A;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
    position: relative; 
    top: -240px;
    display: flex;
    justify-content: space-evenly;
    opacity: 0;
  animation: fadeIn 2s ease-out forwards;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.main {
  background-color: #0F5A39;
}
footer {
  text-align: center;
}
footer a {
  font-size: 20;
  text-align: center;
  padding-bottom: 10px;
  color: wheat;
  font-weight: 600;
  font-family: monospace;
 
}