 body {
  background-color: #007A33;
}
.home {
   background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    background-image: url('../images/unnamed.jpg');
  background-size: cover;      /* makes it fill the container */
  background-position: center; /* centers the image */
  background-repeat: no-repeat;
  width: 100%;
  height: 13vh;   
  padding-top: 20%; 
    filter:contrast(120%);
   
  
}
.hero {
     font-family: "Lustria", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    color: rgba(237, 237, 73, 0.907);
    position: relative; 
    top: -225px;
    display: flex;
    justify-content: space-evenly;
    
}

.main {
  background-color: green;
}
