

header {
  
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0 0 5px 5px;
}

.navbar {
  position: fixed !important  ;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar-nav {
  display: flex;
  justify-content:flex-end;
  align-items: flex-end;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-items {
  display: flex;
  gap: 35px;
  justify-content: flex-end;
  align-items: center;
}

.nav-link {
  text-align: center;
  cursor: pointer;
  margin: 30px 10px 20px 10px;
  font-weight: 600;
  font-family: "Lustria", serif;
  color: white;
text-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: color 0.25s ease, opacity 0.25s ease;
}



.nav-link-name {
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  font-family: "Lustria", serif;
  color: white ;
 text-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  color: 007A33;
  font-size: 25px;
}

.nav-name {
  margin: 8px 0px 0px 30px;
}
    
.nav-link-item {
text-align: center;
  cursor: pointer;
  margin: 20px 0px 10px 10px;

  font-weight: 600;
  font-family: "Lustria", serif;
  color: white;
  transition: color 0.25s ease, opacity 0.25s ease;
}



.nav-active {
  color: #B8BC3A!important;
}

a {
  text-decoration: none;
}

svg:hover {
  fill: rgb(233, 136, 72);
}


.nav-link:hover {
  color: #e2e554!important;
}

.nav-link-name:hover {
  color: #e2e554!important;
}




.navbar-scrolled {
  position: fixed !important;
  color: #B8BC3A !important;
  z-index: 9999;
  background-color: #0F5A39; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 5px 0px 12px 0px;
}

.navbar-scrolled .nav-link {
  color: #B8BC3A;
  text-shadow: 0 0 0px rgba(0, 0, 0, 0.35);
}

.navbar-scrolled .nav-link-name {
  color: #B8BC3A;
  text-shadow: 0 0 0px rgba(0, 0, 0, 0.35);
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  background-color: none;
  border: none;
  cursor: pointer;
  color: #0F5A39;
  z-index: 1001;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hero {
    top: -170px !important;
  }
}


@media (max-width: 767px) {
  .menu-toggle {
    display: block;
    margin-right:20px;
    color: #0F5A39;
    background-color: #B8BC3A;
    font-size: 1.2rem;
  }
  .navbar-container {
    padding-top: 2%;
    padding-bottom: 3%;
  }
  .nav-link-name {
  font-size: 15px;
  font-weight: 600;
    color: #B8BC3A;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.35); 
}
  .nav-items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    width: 100%;
    padding: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }

  .nav-items.open {
    display: flex;
    background-color: #0F5A39;
    width: 35%;
  }
  .navbar-scrolled .nav-link-name:hover, .nav-active {
  color: #B8BC3A !important;
  text-shadow: 0 0 0px rgba(0, 0, 0, 0.35);
}

  .nav-link {
    margin: 10px 0;
    color: #B8BC3A;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0);
  }

  .navbar-scrolled .nav-link {
  color: #B8BC3A;
  text-shadow: 0 0 0px rgba(0, 0, 0, 0.35);
}
  .hero {
    font-size: 38px !important;
    top: -50px !important;
    font-weight: 600 !important;
  }

  .home {
    height: 15vh;
  }
}


@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .hero {
    top: -120px !important;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
.hero {
  top: -100px !important;
}
}